*{
    font-family: "Helvetica";
    text-decoration: none;}
#logo {
    margin: auto;
    width: 50%;
    top: 50px;
    position: relative;
}
#login {
    margin: auto;
    width: 50%;
    border: 1px solid lightgray;
    border-radius: 30px;
    top: 60px;
    position: relative;
}

.caixa1{
    width: 90%;
    height: 50px;
    border: 1px solid lightgray;
    border-radius: 20px;
    text-align: left;
    padding: 0px 5%;
    color: gray;
    font-size: 20pt;
}

#login_caixa{
    position: relative;
    width: 90%;
    margin: 5% 5% 3% 5%;
}
::placeholder {
  color: lightgray;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: lightgray;
}
::-ms-input-placeholder { /* Microsoft Edge */
 color: lightgray;
}
.botao1{
    height: 60px;
    width: 120px;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    font-size: 20pt;
}
#login_botoes{
    width: 90%;
    margin: 0% 5% 5% 5%;
    position: relative;
    right: 0px;
}
#signup_botao{
    background-color: lightgray;
    display: inline-block;
}
#login_botao{
    background-color: gray;
    display: inline-block;
}
@media only screen and (max-width: 560px) {
 
    .botao1{
    height: 60px;
    width: 48.5%;
    font-size: 5vw;
    }
    .caixa1{
        font-size: 5vw;
    }

    .new_message{
        font-size: 5vw;
    }
    
}

/*header inicio*/
.nav{
    background-color: grey;
    opacity: 0.35;
    height: 65px;
    position: fixed;
    width: 100%;
    z-index: 999;
}
.imagem{
    padding: 10px 10px;
    width: 140px;
    display: inline-block;
}
.lupa, .mais, .sino, .msg, .utilizador{
    width: 10px;
    display: inline-block;
}
.procura{
    border-bottom: 2px solid white;
    background-color: transparent;
    border-left: none;
    border-right: none;
    border-top: none;
    font-size: 20pt;
    color: white;
    margin-bottom: 8px;
    margin-left: 30px;
    position: relative;
    bottom: 12px;
    
}
.search{
    display: inline-block;
    position: relative;
    height: 70px;
    padding: 10px 35px;
}
.mais, .sino, .msg{
    position: relative;
    padding: 2px 30px;
    bottom: 142px;
    left: 965px;
}
.utilizador{
    color: white;
    position: relative;
    padding: 10px 20px;
    margin: 10px 45px;
    width:85px;
    bottom: 11px;
    left: 600px;
    font-size: 18px;
    font-weight: bold;
}
.logout{
    color: white;
    position: relative;
    padding: 10px 8px;
    margin: 10px 25px;
    width:85px;
    bottom: 88px;
    left: 1300px;
    font-size: 18px;
    font-weight: bold;
}

.logout>a:visited{
    color: white;
}
.logout>a:link{
    color:white;
}
.logout>a:hover{
    color:lightgray;
}

.utilizador>a:visited{
    color: white;
}
.utilizador>a:link{
    color: white;
}
.utilizador>a:hover{
    color:lightgray;
}

@media only screen and (max-width: 850px) {
    .mais, .sino, .msg{
        width: 40px;
        display: block;
        background-color: black;
        border-radius: 20px;
        margin: 10px;
        position: fixed;
        float: right;
    }
    .sino{
        right: 0px;
        top:150px;
    }
    .msg{
        right: 0px;
        top: 230px;
    }
    .mais{
        right: 0px;
    }
}
@media only screen and (max-width: 652px) {
    .utilizador{
        position: fixed;
        bottom:0px;
        right: 0px;
        color: white;
        background-color: black;
        border-radius: 20px;
        margin: 10px;
    }
}
@media only screen and (max-width: 527px) {

    .mais{
        display: inline-block;
    }
    .search{
        background-color: black;
        border-radius: 20px;
        margin: 10px;

    }
}
/*header fim*/
/* feed de noticias inicio*/
.grelha{
    position: relative;
    margin: auto;
    width: 590;
}

.item1{
    height: 500px;
    width: 590px;
    bottom:70px;
    right: 320px;
}

.item1_profile{
    position: relative;
    height: 500px;
    width: 590px;
    bottom:70px;
    right: 320px;
}
.publicacao{
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    height: 90%;
    position: relative;
    top: 120px;
    display: grid;
    grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
    grid-gap: 5%;
}
@media only screen and (max-width: 652px) {
    .item1{
       width: 100% 
    }
    .grelha{
        width: 100%
    }
}
.pub-imagem{
    border: 1px solid lightgray;
    border-radius: 30px;
    padding: 0px 0px;
    overflow: hidden;
    width: 100%;
    float: left;
    height: 390px;
    display: inline-block;
    grid-column-start: 1;
    grid-column-end: 6;
    object-fit: cover;
}
.pub-imagem>img{
    min-height: 100%;
    min-width: 100%;
    max-height: 200%;
    max-width: 200%;
}
.pub-texto{
    width: 90%;
    font-size: 9pt;
    height: 390px;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    grid-column-start: 6;
    grid-column-end: 11;
}
b{
    color: gray;
    font-size: 12pt;
}
.pub-hashtag{
    padding: 5px;
    background-color: lightgray;
    color: white;
    border-radius: 20px;  
    width: -webkit-fit-content;
    height: -webkit-fit-content;
    width: -moz-fit-content;
    height: -moz-fit-content;
    display: inline-block;
}
.pub-hashtags{
    grid-column-start: 1;
    grid-column-end: 11;
    overflow: hidden;
    text-overflow: ellipsis;
}
.nome_perfil{
    position: relative;
    font-size: 26px;
    right: 290px;
}
@media only screen and (max-width: 527px) {
    .publicacao{
        top: 150;
    }
}
.publicacao1{
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    height: 90%;
    position: relative;
    top: 170px;
    display: grid;
    grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
    grid-gap: 5%;
}
.div_nome{
    position: relative;
    width: 590px;
    margin: auto;
    top:100px;
    color: #696969;
    font-size: 20px;
    font-weight: bold;
}

.quote{
    padding: 20px;
}
.initial {
    position: absolute;
    width: 590px;
    top:100px;
    text-align: left;
    font-family: Helvetica;
    font-style: normal;
    font-weight: lighter;
    font-size: 26px;
    color: #696969; 
}

.author {
    position: relative;
    width: 590px;
    top:150px;
    text-align: left;
    font-family: Helvetica;
    font-style: italic;
    font-size: 24px;
    font-weight: lighter;
color: #696969; 
}

.inbox{
    width: 590px;
}
.Message{
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    position: relative;
    top: 80;
    display: grid;
    grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
    grid-gap: 5%;
}
.texto_msg{
    grid-column-start: 1;
    grid-column-end: 11;
}

.inbox_text{
    position: relative;  
    text-align: left;
    font-family: Helvetica;
    font-style: normal;
    font-size: 24px;
    top: 80px;
    text-align: center;
    margin: auto;
    padding-left: 160px;
    font-weight: bold;
    color: #696969; 
    display: inline-block;
}

.inbox_text>a:visited{
    color: #696969;
}
.inbox_text>a:link{
    color: #696969;
}
.inbox_text>a:hover{
    color:lightgray;
}

.new_msg_text{
    position: relative;  
    text-align: left;
    font-family: Helvetica;
    font-style: normal;
    font-size: 24px;
    top: 80px;
    text-align: center;
    margin: auto;
    padding-left: 50px;
    font-weight: bold;
    color: #696969; 
    display: inline-block;

}

.new_msg_text>a:visited{
    color: #696969;
}
.new_msg_text>a:link{
    color: #696969;
}
.new_msg_text>a:hover{
    color:lightgray;
}


@media only screen and (max-width: 527px) {
    .Message{
        top: 150;
    }
}
@media only screen and (max-width: 652px) {
    .inbox{
       width: 100% 
    }
}

.new_message{
    border: 1px solid lightgray;
    border-radius: 20px;
    text-align: left;
    color: gray;
    font-size: 12pt;
    padding-top: 11px;
}

.to{
    position: relative;
    color: gray;
    font-size: 12pt;
    top: -5px;
    left: 30px;
    padding-top: 4px;
}


.frame_new_msg{
    background-color: white;
    border: 1px solid darkgray;
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    position: relative;
    top: 80;
    height: 550;
    display: grid;
    grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
    grid-gap: 5%;
}

#send_msg_btn{
    position: relative;
    background-color: lightgray;
    top: 490px;
    left: 50px;
    width: 300px;
}

.upload_img{
    position: relative;
    padding: 20px;
    border: 1px solid lightgray;
    margin: 20px;
    border-radius: 30px;
    position: relative;
    top: 150px;
    background-color: lightgray;
}
#up-img{
    position: relative;
    font-size: 9pt;
    color:#696969;
    text-align: center;
    width: 100%;
    height: 20px;
    margin: auto;
    border: none;
    font-weight: bold;
    color: darkgray;
}
.hash{
    width: 80%;
    background-color: lightgray;
    border: none;
    border-bottom: 1pt white solid;
    color: white;
}
.input-txt{
    position: relative;
    border: 1px solid lightgray;
    border-radius: 30px;
    padding: 0px 0px;
    overflow: hidden;
    width: 90%;
    height: 325px;
    bottom: 375px;
    left: 20px;
    display: inline-block;
    grid-column-start: 3;
    grid-column-end: 5;
    padding: 5%;
}
#input-txt{
    position: relative;
    border: none;
    align-content: center;
    height: 100%;
    width: 100%;
    color: gray;
}
.publicacao2{
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    height: 90%;
    position: relative;
    top: 80;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-gap: 5%;
}
@media only screen and (max-width: 527px) {
    .publicacao2{
        top: 150;
    }
}
.item2{
    position: absolute;
    top: 50px;
    height: 570px;
    width: 590px;
}
@media only screen and (max-width: 652px) {
    .item2{
       width: 100% 
    }
}
.pub-hashtags2{
    grid-column-start: 1;
    grid-column-end: 5;
    text-overflow: ellipsis;
    position: absolute;
    bottom: 90px;
    left: 12px;
}
.botao2{
    height: 50px;
    width: 30%;
    margin: 0px 5px;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    font-size: 14pt;
    position: relative;
    bottom: 20px;
}
#publish{
    position: relative;
    bottom: 330px;
    background-color: gray;
    display: inline-block;
}
#cancel{
    background-color: lightgray;
    bottom: 330px;
    display: inline-block;
}
.pub-imagem2{
    position: relative;
    border: 1px solid lightgray;
    border-radius: 30px;
    padding: 0px 0px;
    overflow: hidden;
    width: 100%;
    height: 390px;
    grid-column-start: 1;
    grid-column-end: 3;
}
.btn_post{
    grid-column-start: 1;
    grid-column-end: 5;
}
.pub-hashtag2{
    padding: 5px;
    background-color: lightgray;
    color: white;
    border-radius: 20px;  
    width: -webkit-fit-content;
    height: -webkit-fit-content;
    width: -moz-fit-content;
    height: -moz-fit-content;
    display: inline-block;
    width: 16%;
    float: right;
    margin: 0px 0px 0px 5px;
}


.create_new_post{
    position: relative;
    font-size: 26px;
    text-align: center;
    margin: auto;
}

.edit_pub{
    position: absolute;
    top: 425px;
    left: 493px;
    opacity: 70%;
}

.delete_pub{
    position: absolute;
    top: 425px;
    left: 455px;
    opacity: 70%;
}


.edit_profile{
    position: absolute;
    font-size: 16px;
    top: 123px;
    left: 180px;
    width: 100%;
    bottom: 4px;
}

.edit_profile>a:visited{
    color: #696969;
}
.edit_profile>a:link{
    color:#696969;
}
.edit_profile>a:hover{
    color:lightgray;
}

.frame_qq{
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 30px;
    padding: 20px;
    margin: 10px;
    height: 10%;
    width: 60%;
    position: relative;
    top: -342px;
    left: 800px;
    display: grid;
    grid-gap: 5%;

}

.frame_qq2{
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    height: 25%;
    width: 55%;
    position: absolute;
    display: grid;
    grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
    grid-gap: 5%;
    align-content: center;
}

.question{
    position: relative;
    margin: auto;
    padding: 100px;
    width: 590px;
    bottom: 100px;
    right:230px;
    color: #696969;
    font-size: 20px;
    font-weight: bold;
    text-align: center ;
}

.answer{
    position: relative;
    margin: auto;
    padding: 100px;
    width: 350px;
    top: -55px;
    right:145px;
    color: #696969;
    font-size: 16px;
    font-weight: lighter;
    text-align: center ;
}

.div_nome>p>img{
    padding: 0px 10px;
}
.pub-texto>img{
    float: right;
    margin: 0px 0px 10px 10px;
    align-content: center;
}
#nots{
    border: 1px solid lightgray;
    border-radius: 30px;
    width: 500px;
    font-size: 20pt;
    text-align: center;
    overflow: hidden;
    margin: auto;
    position: relative;
    top: 100px;
}
#not{
    padding: 10px;
    border-bottom: 1px solid lightgray;
    color: gray;
}
#not>a{
    color: lightgray;
}
.item3{
    height: 290px;
    width: 390px;
    margin: auto;
}
.publicacao4{
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    height: 90%;
    position: relative;
    top: 80;
    display: grid;
    grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
    grid-gap: 5%;
}
.pub-imagem69{
    border: 1px solid lightgray;
    border-radius: 30px;
    padding: 0px 0px;
    overflow: hidden;
    width: 100%;
    float: left;
    height: 220px;
    display: inline-block;
    grid-column-start: 1;
    grid-column-end: 6;
}

.pub-imagem2>img{
    min-height: 100%;
    min-width: 100%;
    max-height: 200%;
    max-width: 200%;
}
.pub-texto2{
    width: 90%;
    font-size: 7pt;
    height: 220px;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    grid-column-start: 6;
    grid-column-end: 11;
}
.pub-hashtag-2{
    padding: 5px;
    background-color: lightgray;
    color: white;
    border-radius: 20px;  
    width: -webkit-fit-content;
    height: -webkit-fit-content;
    width: -moz-fit-content;
    height: -moz-fit-content;
    display: inline-block;
    font-size: 8pt
}
.pub-hashtags3{
    grid-column-start: 1;
    grid-column-end: 11;
    overflow: hidden;
    text-overflow: ellipsis;
}

.follow{
    position: absolute;
    top: -59px;
    left: 165px;
    width: 80%;
}

.message_user{
    position: absolute;
    top: -56px;
    left: 210px;
    width: 80%;
    bottom: 4px;
}


.parent{
    float: left;
    clear: none; 
}

.frame_question{
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 30px;
    padding: 20px;
    padding-bottom: 150px;
    margin: 20px;
    height: 65%;
    width: 55%;
    position: absolute;
    left: 525px;
    top: 155px;
    display: grid;
    grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
    grid-gap: 5%;
}


.frame_question2{
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 30px;
    padding: 20px;
    padding-bottom: 150px;
    margin: 20px;
    height: 65%;
    width: 55%;
    position: absolute;
    left: 525px;
    top: 345px;
    display: grid;
    grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
    grid-gap: 5%;
}

.frame_question3{
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 30px;
    padding: 20px;
    padding-bottom: 150px;
    margin: 20px;
    height: 65%;
    width: 55%;
    position: absolute;
    left: 525px;
    top: 535px;
    display: grid;
    grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
    grid-gap: 5%;
}

.frame_question4{
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 30px;
    padding: 20px;
    padding-bottom: 150px;
    margin: 20px;
    height: 65%;
    width: 55%;
    position: absolute;
    left: 525px;
    top: 725px;
    display: grid;
    grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
    grid-gap: 5%;
}

.frame_question5{
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 30px;
    padding: 20px;
    padding-bottom: 150px;
    margin: 20px;
    height: 65%;
    width: 55%;
    position: absolute;
    left: 525px;
    top: 925px;
    display: grid;
    grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
    grid-gap: 5%;
}


.questions_title{
    position: relative;
    font-size: 26px;
    width: 100%;
    bottom: 583px;
    text-align: center;
    right: -425px;
}

.view_more{
    position: relative;
    left: 350px;
    bottom: 17px;
    font-size: 16px;
    width: 100%;
    font-family: Helvetica;
    color: #696969;
}

.view_more>a:visited{
    color: #696969;
}
.view_more>a:link{
    color: #696969;
}
.view_more>a:hover{
    color: lightgrey;
}
