{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="grelha">
    <div class="quote">
        <a class=initial>{{quote}} </a class=username>
        <a class=author> {{author}} </a class=username>
    </div>
    {% for p in posts %}
    <div class="item1">
        <div class="publicacao">
            <div class="pub-imagem">
                <img src="/media/{{p.post_pic}}">
            </div>
            <div class="pub-texto">
                <a href="{% url 'profile' p.profile_user %}"><b>@{{ p.profile_user }}</b></a>
                <p>{{ p.post_text }}</p>
            </div>
            <div class="pub-hashtags">
                {% if p.hashtag != '' %}
                <div class="pub-hashtag pub-hashtag1">
                    <a href="{% url 'hashtag' p.hashtag %}" style="color:white">{{ p.hashtag }}</a>
                </div>
                {% endif %}
                {% if p.hashtag2 != '' %}
                <div class="pub-hashtag ">
                    <a href="{% url 'hashtag' p.hashtag2 %}" style="color:white">{{ p.hashtag2 }}</a>
                </div>
                {% endif %}
                {% if p.hashtag3 != '' %}
                <div class="pub-hashtag pub-hashtag3">
                    <a href="{% url 'hashtag' p.hashtag3 %}" style="color:white">{{ p.hashtag3 }}</a>
                </div>
                {% endif %}
                {% if p.hashtag4 != '' %}
                <div class="pub-hashtag pub-hashtag4">
                    <a href="{% url 'hashtag' p.hashtag4 %}" style="color:white">{{ p.hashtag4 }}</a>
                </div>
                {% endif %}
                {% if p.hashtag5 != '' %}
                <div class="pub-hashtag pub-hashtag5">
                    <a href="{% url 'hashtag' p.hashtag5 %}" style="color:white">{{ p.hashtag5 }}</a>
                </div>
                {% endif %}
                <a>View More</a>
            </div>
        </div>
    </div>
    <br>
    {% endfor %}
    {% endblock %}