{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="grelha">
    <div class="div_nome">
        <p class="nome_perfil">@{{ username }}</p>
    </div>
    <div class="item1_profile">
        <div class="edit_profile">
            <a href="login.html"> Edit Profile
            </a>
        </div>
        {% for p in posts %}
        <div class="publicacao1">
            <div class="pub-imagem">
                <img src="/media/{{p.post_pic}}">
            </div>
            <div class="edit_pub">
                <a href="login.html">
                    <img src="{% static "/images/lapisdi.png" %}" width=30px> </a>
            </div>
            <div class="delete_pub">
                <a href="publicacao.html">
                    <img src="{% static "/images/lixodi.png" %}" width=30px> </a>
            </div>
            <div class="pub-texto">
                <a href="{% url 'profile' p.profile_user %}"><b>@{{ p.profile_user }}</b></a>
                <p>{{ p.post_text }}</p>
            </div>
            <div class="pub-hashtags">
                {% if p.hashtag != '' %}
                <div class="pub-hashtag pub-hashtag1">
                    <a href="{% url 'hashtag' p.hashtag %}" style="color:white">{{ p.hashtag }}</a>
                </div>
                {% endif %}
                {% if p.hashtag2 != '' %}
                <div class="pub-hashtag ">
                    <a href="{% url 'hashtag' p.hashtag2 %}" style="color:white">{{ p.hashtag2 }}</a>
                </div>
                {% endif %}
                {% if p.hashtag3 != '' %}
                <div class="pub-hashtag pub-hashtag3">
                    <a href="{% url 'hashtag' p.hashtag3 %}" style="color:white">{{ p.hashtag3 }}</a>
                </div>
                {% endif %}
                {% if p.hashtag4 != '' %}
                <div class="pub-hashtag pub-hashtag4">
                    <a href="{% url 'hashtag' p.hashtag4 %}" style="color:white">{{ p.hashtag4 }}</a>
                </div>
                {% endif %}
                {% if p.hashtag5 != '' %}
                <div class="pub-hashtag pub-hashtag5">
                    <a href="{% url 'hashtag' p.hashtag5 %}" style="color:white">{{ p.hashtag5 }}</a>
                </div>
                {% endif %}
                <a>View More</a>

            </div>
        </div>
        {% endfor %}
        <div class="frame_qq">
        </div>
        <div class="frame_qq2">
            <div class="div_nome">
                <p class="Quick_questions_tittle">Quick Questions</p>
            </div>
            <div class="div_nome">
                <p class="question"> Describe yourself in three words:</p>
            </div>
            <div class="div_nome">
                <p class="answer">
                    By an outlived insisted procured improved am. Paid hill fine ten now love.
                </p>
            </div>
        </div>
        <div class="frame_qq2">
            <div class="div_nome">
                <p class="question2"> Describe yourself in three words:</p>
            </div>
            <div class="div_nome">
                <p class="answer2">
                    By an outlived insisted procured improved am. Paid hill fine ten now love.
                </p>
            </div>
        </div>
        <div class="frame_qq2">
            <div class="div_nome">
                <p class="question2"> Describe yourself in three words:</p>
            </div>
            <div class="div_nome">
                <p class="answer2">
                    By an outlived insisted procured improved am. Paid hill fine ten now love.
                </p>
            </div>
        </div>
        <div class="frame_qq2">
            <div class="div_nome">
                <p class="question2"> Describe yourself in three words:</p>
            </div>
            <div class="div_nome">
                <p class="answer2">
                    By an outlived insisted procured improved am. Paid hill fine ten now love.
                </p>
            </div>
        </div>
        <div class="frame_qq2">
            <div class="div_nome">
                <p class="question2"> Describe yourself in three words:</p>
            </div>
            <div class="div_nome">
                <p class="answer2">
                    By an outlived insisted procured improved am. Paid hill fine ten now love.
                </p>
            </div>
        </div>
    </div>
    {% endblock %}