<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Search</title>
</head>
<body>
<h2>{{query}}</h2>
{% if users %}
<div>
    {% for u in users %}
        <p>@{{u.username}}</p>
    {% endfor %}
</div>
{% else %}
    <p>No users found</p>
{% endif %}
{% if posts %}
<div>
    {% for p in posts %}
        <p>@{{p.profile_user.username}}</p>
        <img src="/media/{{p.post_pic}}" height="400" width="360">
        <p>{{p.post_text}}</p>
        <p>#{{p.hashtag}}</p>
    {% endfor %}
</div>
{% else %}
    <p>No posts found</p>
{% endif %}
{% if hashtags %}
<div>
    {% for h in hashtags %}
        <p>#{{ h }}</p>
    {% endfor %}
</div>
{% else %}
    <p>No hashtags found</p>
{% endif %}
</body>